/* all */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Header */
header img {
  padding-top: 13px;
  width: 150px;
  height: 30px;
}

/* Nav */
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(13, 0, 128, 0.8) , rgba(133, 31, 192, 0.76), rgba(13, 0, 128, 0.8));
  margin-top: 0;
  padding-left: 5px;
}


nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

nav li a:hover {
  background-color:rgb(173, 145, 190);
}

/* body */


/* index pagina */
.home {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.populair {
  float: right;
  padding-top: 10px;

}

.populair img {
  width: 250px;
  height: 150px;
  padding-right: 10px;
  
}

.forum {
  padding-top: 100px;
  padding-left: 10px;
}

.comment {
  padding-left: 10px;
}

/* post pagina */
.form {
  padding-left: 10px;
}

.form input, textarea {
  padding-left: 5px;
}

/* Footer */
/* To make the footer fixed */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(13, 0, 128, 0.8) , rgba(133, 31, 192, 0.945), rgba(13, 0, 128, 0.8));
  color: white;
  text-align: center;
}
