/* all */
* {
  margin: 0;
  padding: 0;
}

/* Header */
header img {
  padding-top: 5px;
  width: 150px;
  height: 30px;
}

/* Nav */
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(13, 0, 128, 0.767) , rgba(133, 31, 192, 0.904), rgba(13, 0, 128, 0.767));
  margin-top: 0;
  padding-left: 5px;
}


nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

nav li a:hover {
  background-color:rgb(150, 117, 170);
}

/* body */


/* index pagina */
.home {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.populair {
  float: right;
  padding-top: 10px;
}

.populair img {
  width: 250px;
  height: 150px;
  padding-right: 10px
}

.forum {
  padding-top: 100px;
  padding-left: 10px;
}

.comment {
  padding-left: 10px;
}

/* post pagina */
.form {
  padding-left: 10px;
}

.form input, textarea {
  padding-left: 5px;
}

/* Footer */
/* To make the footer fixed */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(13, 0, 128, 0.767) , rgba(133, 31, 192, 0.904), rgba(13, 0, 128, 0.767));
  color: white;
  text-align: center;
}
